
    <style>
        #div{
            background-color: black;
            height: 6vh;
        }
        #p{
            color: white;
            text-align: center;
        }
    </style>

    <div id="div">
        <h2 id="p"> &copy Aruj</h2>
    </div>
    
