
    <title>Future Planner</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #div{
            background-color: black;
            height: 8vh;
        
        }
        #h1{
            text-align: center;
            color: white;
            margin:auto;
            
        }
    </style>

    <div id="div">
        <h1 id="h1">Welcome to Future planner</h1>
    </div>
    
